<!-- create-spot.hbs -->
<h1>Create a New Spot</h1>

<form action="/nature-spots/create" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required />

  <label for="country">Country:</label>
  <input type="text" id="country" name="country" required />

  <label for="city">City:</label>
  <input type="text" id="city" name="city" required />

  <label for="description">Description:</label>
  <input type="text" id="city" name="description" required />

  <label for="description">Image:</label>
  <input type="image" id="ima" name="description" required />

  <button type="submit">Create Spot</button>
</form>