<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    
   
 <nav class="navbar">
      <div class="navbar-brand">Visit Earth</div>
      <ul class="navbar-menu">
        <li class="navbar-item"><a href="/nature-spots/">Home</a></li>
        <li class="navbar-item"><a href="/auth/login">Login</a></li>
        <li class="navbar-item"><a
            href="/favorites"
          >Favourites</a></li>
        <li class="navbar-item"><a href="/auth/signup">SignUp</a></li>
      </ul>
    </nav>

    <main>
            {{{body}}}
     </main>
    <script src="/js/script.js"></script>
  </body>

</html>