<div class="profile-container">
  <h1>Profile Information</h1>

  <div>
    <h3>Username:</h3>
    <p>{{user.username}}</p>

    <h3>Email:</h3>
    <p>{{user.email}}</p>

    <!-- Add more profile information fields as needed -->

  </div>

  <!-- Back button -->
  <a href="/edit-profile" class="edit-profile">Edit Profile</a>
  </div>
<a href="/nature-spots" class="back-button">Back</a>