.navbar {
  background-color: black;
  color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 20px;
  box-shadow: 0 8px 12px rgba(249, 245, 245, 0.651);
}
.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-item {
  margin-right: 10px;
}
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 20px;
  background: linear-gradient(
    45deg,
    #ff3366,
    #ff9933,
    #ffff66,
    #66ccff,
    #9933ff,
    #ff3366,
    rgb(7, 130, 7),
    rgb(126, 39, 126)
  );
  background-size: 600% 600%;
  -webkit-animation: aurora-gradient 05s ease infinite;
  -moz-animation: aurora-gradient 05s ease infinite;
  animation: aurora-gradient 05s ease infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

img {
  height: 200px;
}
